<header>
    <div class="topbar">
        <div class="logo">
            <a href="index.html" class="logo-link">
                <img src="image/logo.png".png" alt="Logo">
                <div class="logo-text">Fantasy Daet Railway</div>
            </a>
        </div>
        <nav>
            <a href="stations.html" class="header-menu">Stations</a>
            <a href="history.html" class="header-menu">History</a>
            <a href="museum.html" class="header-menu">Museum</a>
            <a href="goods.html" class="header-menu">Goods</a>
        </nav>
    </div>
</header>